html,body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
#app_root {
    display: flex;
    flex-direction: row;
    background-color: #382965;
    width: 100vw;
    height: 100vh;
}
#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#page_root {
    border-top-left-radius: 30px;
    background-color: #ddd;
    flex-grow: 1;
    position: relative;
}
#page_root > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: visible;
    padding: 30px;
}
#page_root > div.hidden {
    visibility: collapse;
}